:root{
    --back-light-color:#202124;
    --back-color:#171717;
    --bg-color: rgb(255, 255, 255);
    --white:rgb(255, 255, 255);
}





.des{
    margin-top: -15px;
}

.h1-txt{
    color: var(--white);
    font-weight: 400;
    font-family: DauphinPlain;
    font-size:  12vmin;
    line-height: 90px;
  
}


body{
    background-color: var(--back-light-color);
}

.card-color{
    background-color: var(--back-color);
   
}



.card-color a{
    color: white; 
    text-decoration: none;
}

.card-color {
    color: #bcc0c3; 
}

/* Styling the search input box */
.search-input {
    color: white !important;
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    border: 1px solid #303134;
    border-radius: 20px;
    background-color: #303134;
    
  }
  
  /* Styling the search input box on focus */
  .search-input:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(66, 133, 244, 0.6);
  }

  .search-input:focus  {
    background-color: #303134;
  }
  .form-control::placeholder{
    color: white;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
  }
  
  code{
    font-size: .875em;
    color: #d63384;
    word-wrap: break-word;
    border-radius: 20px;
    border-style: solid;
    padding: 5px;
    margin-right: 7px;
    margin-top:311px;
    text-align: center;
    line-height: 3;
  }
  code a{
    color: #d63384 !important; 
    text-decoration: none;
  }
  

  .reg{
    background-color: var(--back-color);
    color: var(--white);
   
}


  
.reg .form-control {
    background-color:var(--back-light-color);
    outline: none; 
    border: none;
    color:  var(--white);
  }
  
  
  

  .form-control:focus {
    /* CSS styles for the input field in focus */
    outline: none; /* Remove the default outline */
    border-color: blue;
    box-shadow: 0 0 5px blue;
    background-color:var(--back-light-color);
    color:  var(--white);

  }

  .cus-btn{
    background-color: #d63384;
border-style: solid;
border-radius: 20px;
margin-bottom: 10px;
  }

  .footer-page{
    background-color: var(--back-color);
    color: #d63384 !important;
  }


  .view-page{
    background-color: var(--back-color);
    color: var(--white);
   
}

.view-page{
  background-color: var(--back-color);
  color: var(--white);
 
}

a {
      text-decoration: none;
}

.active2 {
  color: #ff0000; /* Set the color you want for the active link */
}

.btn-color {
  background-color: #202124 !important; 
  border-style: solid;
  border-color: #d63384;
  color: #d63384;
}

.btn-color:hover {
  background-color: #202124 !important; 
  border-style: solid;
  border-color: #d63384;
  color: #d63384;
}